*.index*
*.csv*
*.db*
*.jsonl*
*.faiss*
*.gz*
*.npy*
results/
logs/
figures/
runs/
*pycache*/
faiss_wiki_dpr/
data/datasets
data/indexes/wiki-dpr/hnsw_100k
data/indexes/wiki-dpr/wiki-passages
lambda/dpr-lambda/app/models/
artifacts/
*.log*
