*.index*
*.csv*
*.db*
# *.jsonl*
*.faiss*
*.gz*
*.npy*
results/
logs/
figures/
runs/
*pycache*/
faiss_wiki_dpr/
data/indexes/wiki-dpr/hnsw_100k
data/indexes/wiki-dpr/wiki-passages
backups/lambda/
artifacts/
corpus/
*.log*
data/datasets/mmlu
data/datasets/long_form
data/datasets/multi_hop
data/datasets/multiple_choice
data/datasets/qa
data/datasets/fact_verification