datasets==3.6.0
faiss-cpu
transformers
sentence_transformers
psutil
hydra-core
grpcio
grpcio-tools
pandas
accelerate
torch
boto3
# nvi
nvidia-ml-py
omegaconf
maturin
# hf auth login
openai
vllm
Stemmer
bm25s
PyStemmer
# seismic
langid